* {
    padding: auto;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000000;
    position: relative;
}

.container {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}



#titleWrap {
    margin-top: 15px;
    font-size: 25px;
    display:inline-block;
    background:black;
    width: 320px;
    height: 200px;
    letter-spacing: 10px;
    animation: myframes 4s ease-in-out 1 ;
    position: relative;
}

@keyframes myframes {
    0% {
        color: black;
        background: black;
        height: 50px;
        width: 220px;
        letter-spacing: 0px;
    }
    30% {
        color: #ff69b4;
        letter-spacing: 10px;
    }

    50% {
        color: #ffe4e1;
        letter-spacing: 15px;
    }

    75%{
        color: #9acd32;
        letter-spacing: 15px;
    }
    100% {
        height: 200px;
        width: 320px;
        letter-spacing: 10px;
        
    }
}
h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.gifHere {
    margin-top: 30px;
}

button {
    
    display: inline-block;
    color: white;
    background-color: #000000;
    text-align: center;
    padding: 8px;
    margin: 5px;
    border: 2px solid;
    border-radius: 12px;
    box-shadow: 0 6px 0 0 rgb(151, 150, 150);
    
}
button:hover{
    color: black;
    background-color: white;

}

button:active{
    box-shadow: none;
    margin-top: 6px;
    margin-bottom: 0;
}

#addButton {
    display: inline-block;
    color: white;
    background-color: #000000;
    text-align: center;
    padding: 8px;
    margin: 2px;
    border: 1px solid;
    border-radius: 12px;
}
#addButton:hover {
    color: black;
    background-color: white;

}
